* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.container {
  max-width: var(--max-width);
  margin: 30px auto 0;
}

.box {
  border-radius: 7px;
  padding: 30px 70px;
  background-color: var(--white);
}

.shadow {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.08);
}

.strong {
  font-weight: 700;
}

.margin-top-20 {
  margin-top: 20px;
}

.secondary {
  color: #666;
}

.center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
