* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.strong {
  font-weight: 700;
}

.margin-top-20 {
  margin-top: 20px;
}

.secondary {
  color: #666;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
