header {
  height: 120px;
  background-color: var(--white);
}

nav {
  max-width: var(--max-width);
  font-weight: 700;
  height: 100%;
  margin: 0 auto;
}

nav .active {
  color: var(--primary);
}

nav ul li {
  padding: 0 20px;
  line-height: 120px;
  float: left;
}

nav .userName {
  float: right;
  font-weight: 400;
}

nav .userName img {
  position: relative;
  top: 5px;
}

nav .userName a {
  cursor: pointer;
  padding: 0 10px;
  color: var(--dim-gray);
}
